*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    text-transform: capitalize;
}
body{
    height: 100vh;
    background-color: #444;
}
.main{
    background-color:#111 ;
    margin: 20px auto;
    height: max-content;
    width: 80%;
    border-radius: 20px;
}
h4{
    font-size: 100px;
    text-align: center;
    width: 100%;
    color: white;
    margin: auto;
    margin-bottom: 20px;
    
}
.task{
    text-align: center;
    height: 100px;
    display: flex;
    justify-content: center;
    .input{
    font-size: 300%;
    width: 70%;
    height: 80%;
    border: none;
    padding: 5px 10px;
    border-color: rgb(1, 110, 1);
    border-style: solid;
    border-top:none  ;
    border-left: none;
    border-radius: 10px;
    margin: auto ;
    }
    .add{
        height: 80%;
        font-size: 340%;
        width: 20%;
        margin: auto ;
        background-color:rgb(1, 110, 1);
        padding: 5px 15px;
        border-radius: 10px;
        border-color: #ffffff;
        border-style: solid;
        border-top:none  ;
        border-left: none;
        border-radius: 10px;
        cursor: pointer;
        color: white;
    }
}

.result{
margin-top: 5%;
color: #ffffff;
background-color: rgba(0, 0, 0, 0.919);
border-radius: 0px 0px 20px 20px ;
    .tasks{
        display: flex;
        font-size: 300%;
        justify-content: space-between;
        padding: 5px 10px;
        border-top: #ffb60a solid 5px;
        border-radius:  0px 0px 20px 20px;
        p{
        color: #000;
        font-size: 90%;
            background-color: #ffb60a;
            padding: 5px 15px;
            border-radius: 10px;
            border-color: #ffffff;
            border-style: solid;
            border-top:none  ;
            border-left: none;
            border-radius: 10px;
        }
    }
    

}
p{
    cursor: pointer;
}